header
{   
  background-color: #ffffff;
  border-radius: 30px;
  height: 280px;
  width: 100%;
}

.logo 
{
  position: absolute;
  top: 75px;
  left: 75px;
  height: 130px;
  width: 130px;
}

.nav
{
  float:right;
  background-color: #9370DB;
  color:#ffffff;
  height: 106px;
  border-radius: 30px;
  margin-top:18px;
  margin-right: 18px;
}

.button 
{
  display: inline-block;
  background-color: #ffffff;
  color:#9370DB;
  font-family: Georgia, "Times New Roman";
  width: 220px;
  height: 30px;
  margin: 8px;
  padding:30px;
  border-radius: 30px;
  text-align: center;
}

#name
{
  padding-top: 80px;
  padding-left: 250px;
  font-size: 100px;
  font-family: Georgia, "Times New Roman";
  color: #9370DB;
}

.block
{
  background-color: #ffffff;
  border-radius: 30px;
  margin-top: 8px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1
{
  margin-top: 8px;
  color: #9370DB;
  font-family: Georgia, "Times New Roman";
  text-align: center;
}

table
{
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
}
tr
{
  border-bottom: 2px solid #000;
}
tr.col1
{
  background-color: #ffffff;
}
tr.col2
{
  background-color: #9370DB;
}
tr td
{
  border-right: 2px solid black;
  border-left: 2px solid #000000;
}

body
{
  display:block;
  background-color: #9370DB;
  font-family: Georgia, "Times New Roman";
  font-size: 23px;
  margin: 8px;
}

footer
{
  background-color: #ffffff;
  border-radius: 30px;
  margin-top: 8px;
  height: 100px;
}

#footer_txt
{
  font-family: Georgia, "Times New Roman";
  color: #9370DB;
  font-size: 50px;
  text-align: center;
  padding-top: 25px
}