header
{ 
  display: flex;
  flex-direction: row;
  order: 1;
  background-color: #031926;
  height: 280px;
  width: 100%;
}

.logo 
{ 
  align-self: center;
  height: 130px;
  width: 130px;
}

#name
{
  align-self: center;
  font-family: Georgia, "Times New Roman";
  font-weight:300;
  color: #9370DB;
}

.block_form
{
  order: 5;
  background-color: #031926;
  width: 100%;
}

h1
{
  color: #9370DB;
  font-family: Georgia, "Times New Roman";
  text-align: center;
}

body
{
  display:flex;
  flex-direction: column;
  background-color: #9370DB;
  font-family: Georgia, "Times New Roman";
  font-size: 23px;
  color:#9370DB;
  align-items: center;
}

footer
{ 
  order: 6;
  background-color: #031926;
  height: 90px;
  align-self: stretch;
}

#footer_txt
{
  font-family: Georgia, "Times New Roman";
  color: #9370DB;
  font-size: 160%;
  font-weight:900;
  text-align: center;
  padding-top: 25px;
}

@media (orientation: portrait)
{
  header
  {
    height: 140px;
  }
  #name
  {
    font-size: 100%;
    font-family: Georgia, "Times New Roman";
    font-weight:900;
    color: #9370DB;
  }
  h1
  {
    font-size: 30px;
  }
  .logo
  {
    top: 10px;
    left: 10px;
    height: 130px;
  }
}

@media (min-width: 800px)
{
  #name
  {
    font-size: 90px;
  }
}
